/* Add screen styles below */

#bgimg {
    background-image: url('IncidentMap.png');
}

body {


}

.dmg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}
li {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

#low {
    border-style: dashed;
    border-color: purple;
    border-width: 4px;
    background-color: green;
    width: 40px;
    height: 30px;
}

#medium {
    border-style: dashed;
    border-color: purple;
    border-width: 4px;
    background-color: green;
    width: 40px;
    height: 30px;
}

#high {
    border-style: dashed;
    border-color: purple;
    border-width: 4px;
    background-color: green;
    width: 40px;
    height: 30px;
}