/* Add screen styles below */

body {
    background-image: url('IncidentMap.png');
    background-position: center;
}

.Heading {
    background-color: #6A6A6A;
    padding: 1px 20px 20px 0px;
    margin-bottom: 20px;
}

.dmg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    max-width: 164px;
    max-height: 200px;
    height: max-content;
    background-color: #ffffff;
    margin: 28px
    
    
}

h3 {
    margin-left: 16px;
    margin-bottom: 12px;
}

ul {
    padding: 0px;
    margin-top: 0px
}

li {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    
}

#low {
    border-style: dashed;
    border-color: #009A3F;
    border-width: 4px;
    background-color: rgb(27, 200, 98 , 40%);
    width: 40px;
    height: 30px;
    margin-right: 15px;
    margin-left: 16px;
}

#medium {
    border-style: dashed;
    border-color: #DB7900;
    border-width: 4px;
    background-color: rgb(253, 140, 0, 40%);
    width: 40px;
    height: 30px;
    margin-right: 15px;
    margin-left: 16px;
}

#high {
    border-style: dashed;
    border-color: #C10000;
    border-width: 4px;
    background-color: rgb(224, 40, 40, 40%);
    width: 40px;
    height: 30px;
    margin-right: 15px;
    margin-left: 16px;
}


#popupcard {
    width: fit-content

}

#cardheader {
    margin-left: 12px;
    margin-right: 130px;
    margin-top: 8px;
    margin-bottom: 8px;
    
}

#popupaddress {
    display: flex;
    background-color: #DB7900;
    max-height: 32px;
    vertical-align: middle;
}
i {
    margin-top: 8px;
    margin-bottom: 8px;
}
#popuptext {
    border: 3px solid #DB7900;
    max-width: 305px;
}

p {
    margin-left: 12px;
    margin-top: 12px;
}